.not-found {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found_title {
  font-size: 8rem;
  padding: 1rem;
  color: #00bc77;
}

.not-found_subtitle {
  color: #036843;
}

.not-found_link {
  color: red;
  padding: 5rem;
}
