.erreurConnexion {
  color: red;
  padding: 1rem;
}

.changeNom {
  margin-left: 1rem;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}
